<div class="motto text-center">
    <h1>Contacto</h1>
    <h3></h3>
</div>

<div class="wrapper">
    <div class="profile-background">
        <div class="filter-black"></div>
    </div>
    <div class="profile-content section-nude">
        <div class="container">
            <div class="row owner">
                <div class="col-md-16 col-md-offset-16 col-sm-16 col-sm-offset-16 col-xs-16 col-xs-offset-16 text-center">
                    <div class="avatar">
                        <img src="./assets/imagenes/barberlogo.png" alt="Circle Image" class="img-circle img-no-padding img-responsive" />
                    </div>
                    <div class="name">
                        <h4>
                            Cinco Changos<br /><small>Elevamos tu estilo un corte a la vez</small
              >
            </h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-16 col-md-offset-3 text-center">
          <p>Sucursal Cinco Señores</p>
          <br />
          <p>Oaxaca de Juarez, Oax</p>
          <br />
          <p>Teléfono: 555-123-4567</p>
          <br />
          <p>Correo: barberChangos@gmail.com</p>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>