<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Servicios</h1>
            <h3></h3>
            <br />
            <a href="https://youtu.be/pRXGbSxTR0A" class="btn btn-outline-secondary btn-round"><i class="fa fa-play"></i>Conoce nuestro estudio</a>
            <br>
        </div>

    </div>
</div>
<br>
<div class="main">
    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Nuestros Servicios mas solicitados</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href=""><img src="./assets/imagenes/barberDos.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="">
                                <div class="">
                                    <h4 class="card-title">Osmel</h4>
                                    <h6 class="card-category"></h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Corte de cabello Clasico
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="" class="btn  btn-just-icon btn-neutral"><i class="fa fa-instagram"></i></a>
                            <a href="" class="btn  btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                            <a href="" class="btn  btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card ">
                        <div class=" card-avatar ">
                            <a href=" "><img src="./assets/imagenes/barberDos.jpg " alt="... "></a>
                        </div>
                        <div class=" ">
                            <a href=" ">
                                <div class=" ">
                                    <h4 class="card-title ">Isaac </h4>
                                    <h6 class="card-category "></h6>
                                </div>
                            </a>
                            <p class="card-description text-center ">
                                Afeitado clasico
                            </p>
                        </div>
                        <div class="card-footer text-center ">
                            <a href=" " class="btn btn-just-icon btn-neutral "><i class="fa fa-instagram "></i></a>
                            <a href=" " class="btn btn-just-icon btn-neutral "><i class="fa fa-google-plus "></i></a>
                            <a href=" " class="btn btn-just-icon btn-neutral "><i class="fa fa-twitter "></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="card card-profile card-plain ">
                        <div class="card-avatar ">
                            <a href=" "><img src="./assets/imagenes/barberDos.jpg" alt="... "></a>
                        </div>
                        <div class=" ">
                            <a href=" ">
                                <div class=" ">
                                    <h4 class="card-title ">Master Yael</h4>
                                    <h6 class="card-category "></h6>
                                </div>
                            </a>
                            <p class="card-description text-center ">
                                Lavado y peinado
                            </p>
                            <div class="card-footer text-center ">
                                <a href=" " class="btn btn-just-icon btn-neutral "><i class="fa fa-instagram "></i></a>
                                <a href=" " class="btn btn-just-icon btn-neutral "><i class="fa fa-google-plus "></i></a>
                                <a href=" " class="btn btn-just-icon btn-neutral "><i class="fa fa-twitter "></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="section landing-section ">
                <div class="container ">
                    <div class="row ">
                        <div class="col-md-16 col-md-offset-2 ">
                            <h2 class="text-center ">Unete a nuestra newsletter</h2>
                            <form class="contact-form ">
                                <div class="row ">
                                    <div class="col-md-6 ">
                                        <label>Nombre</label>
                                        <input class="form-control " placeholder="Name ">
                                    </div>
                                    <div class="col-md-6 ">
                                        <label>Email</label>
                                        <input class="form-control " placeholder="Email ">
                                    </div>
                                </div>
                                <label>Mensaje</label>
                                <textarea class="form-control " rows="4 " placeholder="Escribenos tus dudas y comentarios "></textarea>
                                <div class="row ">
                                    <div class="col-md-16 col-md-offset-8 ">
                                        <br>
                                        <button class="btn btn-secondary btn-block btn-lg btn-fill ">Enviar</button>
                                    </div>
                                    <br>
                                </div>
                            </form>
                            <br>
                        </div>
                    </div>

                </div>
            </div>
        </div>