<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
    
    <link rel="stylesheet" href="register.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>

    <div class="login-box">
      
      <form [formGroup]="registerForm">
        
        <img src="./assets/imagenes/fondo2.png">
        <div class="inline-inputs">
          <label class="inline-inputs">
            <i class="fa-solid fa-user"></i>
            <input placeholder="nombre" type="text" id="nombre" formControlName="nombre" required>
        </label>
        <label class="inline-inputs">
            <input placeholder="apellido" type="text" id="apellido" formControlName="apellido" required>
        </label>
        </div>

        
      
        <label>
            <i class="fa-solid fa-envelope"></i>
            <input placeholder="correo" type="text" id="correo" formControlName="correo" required>
        </label>

        <div class="inline-inputs">
          <label class="inline-inputs">
            <i class="fa-solid fa-calendar"></i>
            <input placeholder="edad" type="text" id="edad" formControlName="edad" required inputmode="numeric" pattern="[0-9]*">
        </label>

        <label class="inline-inputs">
            <i class="fa-solid fa-venus-mars"></i>
            <select id="gender" formControlName="sexo" required placeholder="sexo">
                <option value="" disabled selected>Selecciona género</option>
                <option value="male">Masculino</option>
                <option value="female">Femenino</option>

            </select>
        </label>
        
        </div>
        
        <label>
            <i class="fa-solid fa-lock"></i>
            <input placeholder="crea una contraseña" type="password" id="password" formControlName="password" required>
        </label>

        <label>
            <i class="fa-solid fa-lock"></i>
            <input placeholder="confirma contraseña" type="password" id="confirmPassword" formControlName="confirmPassword" required>
        </label>

        <a href="#" class="link">Ya tienes una cuenta?</a>
        
        <button type="submit" (click)="registro()">Registrarse</button>
         
      </form>
      <script src="register.component.ts"></script>
    </div>
  </body>
</html>


