<!DOCTYPE html>
<html>
<head>
    <title>Agendar Cita</title>
    <link rel="stylesheet" type="text/css" href="citas.component.css">
</head>
<body>
    <div class="container">
        <h1>Agendar Cita</h1>
        <form>
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required>
            
            <label for="hora">Hora:</label>
            <input type="time" id="hora" name="hora" required>
            
            <label for="motivo">Motivo:</label>
            <textarea id="motivo" name="motivo" rows="4" required></textarea>
            
            <button type="black">Agendar</button>
        </form>
    </div>
</body>
</html>

