/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    border-bottom: 2px solid #fff;
}

main {
    padding: 20px;
}


/* Estilos para las secciones */

section {
    margin-bottom: 40px;
}

section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}


/* Estilos para el botón de "Agenda una cita" */

a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

a:hover {
    background-color: #555;
}


/* Estilos para el pie de página */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}

.image {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}