<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barber 5 Changos</title>
    <link rel="stylesheet" href="home.component.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</head>

<body>

    <main>
        <section id="inicio">
            <h2>Bienvenido a Barber 5 Changos</h2>

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./assets/imagenes/BARBERSHOP.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/imagenes/barbershop2" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>

            <p>Ofrecemos servicios de corte de cabello para personas de todas las edades.</p>
            <nav>
                <a routerLink="/Citas">Agenda una cita</a>
            </nav>
        </section>

        <section id="cita">
            <h2>Agenda una cita</h2>
        </section>


        <section id="servicios">
            <h2>Nuestros Servicios</h2>
            <ul>
                <li>Corte de cabello clásico</li>
                <li>Corte de cabello moderno</li>
                <li>Afeitado clásico</li>
                <li>Diseño de barba</li>
                <li>Tratamientos capilares</li>
            </ul>
        </section>

        <section id="galeria">
            <h2>Galería</h2>
            <div class="gallery">
                <div class="image">
                    <img src="./assets/imagenes/barberUno.jpg" alt="Imagen 1">
                </div>
                <div class="image">
                    <img src="./assets/imagenes/barberUno.jpg" alt="Imagen 2">
                </div>
                <div class="image">
                    <img src="./assets/imagenes/barberUno.jpg" alt="Imagen 3">
                </div>

            </div>
        </section>

        <section id="contacto">
            <h2>Contacto</h2>
            <p>Estamos ubicados en:</p>
            <p>Calle de la Barbería, 123</p>
            <p>Oaxaca de Juarez, Oax</p>
            <p>Teléfono: 555-123-4567</p>
            <p>Correo: barberChangos@gmail.com</p>
        </section>
    </main>


</body>

</html>