<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
    
    <link rel="stylesheet" href="loginn.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>

    <div class="login-box">
      

      <script src="loginn.component.ts"></script> 
      <form class="custom-form" method="post">
        <img src="./assets/imagenes/fondo2.png">
          <label>
            <i class="fa-solid fa-user"></i>
            <input
            type="email"
            [(ngModel)]="correo"
            name="correo"
            placeholder="correo"
            required="required"
          />
          </label>
          
        <label>
            <i class="fa-solid fa-lock"></i>
            <input
            type="password"
            [(ngModel)]="password"
            name="password"
            placeholder="Password"
            required="required"
          />
        </label>
        
        <a href="#" class="link">No tienes cuenta?</a>
        <button type="submit"  (click)="login()">Entrar</button>
      </form>
      <script src="loginn.component.ts"></script> 

    </div>
  </body>
</html>





